.container {
  font-family: system-ui, sans-serif;
  width: 100vw;
}

.tweets-number {
  font-weight: bold;
  text-align: center;
  font-size: x-large;
}

.tweets-label {
  color: #929090;
  font-size: x-small;
  margin-top: 0.2rem;
}

.input-search {
  border: 1px solid #d0d0d0;
  outline: none;
  padding: 0.5rem 0.5rem;
  width: 10rem;
  border-radius: 0.5rem;
}

.tweets-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;

  margin: 1.5rem 0;

  align-items: center;
}

.actions-header-container {
  display: flex;
  width: 80%;
  min-width: 22rem;
  align-items: center;
  justify-content: space-between;
}

.tweet-box {
  border: 1px solid #d0d0d0;
  /* width: 22rem; */
  height: 34rem;
  width: 80%;
  min-width: 22rem;
  border-radius: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.tweet {
  border-bottom: 1px solid #d0d0d0;
  padding: 0.5rem;
  display: flex;
}

.tweet-body {
  margin-left: 1rem;
}

.name-container {
  display: flex;
  align-items: center;
}

.screen-name {
  font-size: small;
  color: #657786;
  margin-left: 0.2rem;
}

.image {
  border-radius: 10rem;
}

.name {
  font-weight: bold;
}

.content {
  margin-top: 0.3rem;
}

.country-code {
  font-size: x-small;
  color: #657786;
  margin-top: 0.2rem;
}
